body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
}

.app-wrapper-dark {
  background-color: black;
  color: white;
  a {
    color: white;
  }
}

.app-wrapper-light {
  background-color: white;
  color: black;
}

.navlink {
  color: black;
}

.navlink.active {
  color: red;
}

.app-wrapper {
  > div:nth-child(2) {
    min-height: 80vh;
    border: 2px solid orangered;
    margin: 1rem 0;
  }
}

.header {
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  gap: 2rem;
}

.header ul {
  display: flex;
  list-style-type: none;
  border: 2px solid red;
  gap: 1rem;
  padding: 0.35rem;
}

.footer {
  border: 1px solid red;
}

.theme-switch {
  button {
    outline: none;
    background-color: orange;
    border: none;
    padding: 0.35rem 2rem;
    color: black;
    border-radius: 3px;
    cursor: pointer;
  }
}
